* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
}
section {
    width: 100%;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.card {
    width: 350px;
    height: 400px;
    margin: 10px;
    border-radius: 20px;
}
.card:hover {
    box-shadow: 4px 6px 20px #777;
}
.card .part-1 {
    background-color: #333;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    transform: translateY(100px);
    border-radius: 20px;

    
}
.card .part-1 .contents {
    opacity: 0.3;
    text-align: center;

}
.card:hover .part-1 {
    opacity: 1;
    transform: translateY(0px);
    background-color: crimson;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.card:hover .part-1 .contents {
    opacity: 1;
} 
.card .part-1 .contents .iconify {
    font-size: 4rem;
}
.card .part-1 .contents  h3 {
    font-size: 2rem;
    color: #777;
}
.card .part-2 {
    width: 100%;
    height: 50%;
    transition: 1s;
    transform: translateY(-100px);
    z-index: -1;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.card .part-2 .contents{
    opacity: 0;
}
.card:hover .part-2{
    transform: translateY(0px);
    background-color: #fff;
}
.card:hover .part-2 .contents {
    opacity: 1;
}

