* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 1005;
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 350px;
    height: 450px;
    background-color: #000;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgb(148, 1, 31);
    box-shadow: inset 10px 10px 20px rgb(220, 20, 60),
    inset -10px -10px 20px rgba(220, 20, 60, 0.5);
}
.card .front {
    position: absolute;
    top: 20%;
    left: 10%;
}
.card .back {
    position: absolute;
    top: 10%;
    left: 0;
    opacity: 0;
    padding: 50px;
}
.back h1 {
    font-size: 3rem;
    padding-bottom: 10px;
}
.front .iconify {
    width: 200px;
    height: 200px;
}
.front h1 {
    font-size: 2rem;
}
.card:hover .front {
    opacity: 0;
}
.card:hover .back {
    opacity: 1;
}