* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 350px;
    height: 450px;
    position: relative;
}
.card .img {
    position: absolute;
    background-size: cover;
    transition: 2s;
    background-image: repeating-linear-gradient(to right, transparent,transparent 10px, #fff 10px,#fff 20px);
}
.card:hover .img {
    opacity: 0.5;
}
.card .detail {
    z-index: 2;
}